In [30]:
import pandas as pd
import os

In [39]:
scnJson = "D:/GitHub/TDM-vizTool-and-Dashboard/_site/scenarios.json"
outputJsonName = "zones-se-vizmap.json"

In [88]:
# attributes for road seg summaries
dfAttributes = pd.DataFrame([
    ["TOTHH"     ,"aTotHh"    , "Total Households"               ],
    ["HHPOP"     ,"aHhPop"    , "Household Population"           ],
    ["HHSIZE"    ,"aHhSize"   , "Household Size"                 ],
    ['TOTWRK'    ,'aTotWrk'   , "Total Workers"                  ],
    ['HHV0'      ,'aHHV0'     , "Households with 0 Vehicles"     ],
    ['HHV1'      ,'aHHV1'     , "Households with 1 Vehicles"     ],
    ['HHV2'      ,'aHHV2'     , "Households with 2 Vehicles"     ],
    ['HHV3'      ,'aHHV3'     , "Households with 3 Vehicles"     ],
    ['AUTOS'     ,'aAutos'    , "Total Vehicles"                 ],
    ["TOTEMP"    ,"aTotEmp"   , "Typical Employment"             ],
    ["RETEMP"    ,"aRetEmp"   , "Retail Employment"              ],
    ["INDEMP"    ,"aIndEmp"   , "Industrial Employment"          ],
    ["OTHEMP"    ,"aOthEmp"   , "Other Employment"               ],
    ["ALLEMP"    ,"aAllEmp"   , "All Employment"                 ],
    ["RETL"      ,"aRetl"     , "Retail Employment"              ],
    ["FOOD"      ,"aFood"     , "Food Employment"                ],
    ["MANU"      ,"aManu"     , "Manufacturing Employment"       ],
    ["WSLE"      ,"aWsle"     , "Wholesale Employment"           ],
    ["OFFI"      ,"aOffi"     , "Office Employment"              ],
    ["GVED"      ,"aGved"     , "Government/Education Employment"],
    ["HLTH"      ,"aHlth"     , "Health Employment"              ],
    ["OTHR"      ,"aOthr"     , "Other Employment"               ],
    ["AGRI"      ,"aAgri"     , "Agricultural Employment"        ],
    ["MING"      ,"aMing"     , "Mining Employment"              ],
    ["CONS"      ,"aCons"     , "Construction Employment"        ],
    ["HBJ"       ,"aHbj"      , "Home-Based Job Employment"      ],
    ["AVGINCOME" ,"aAvgInc"   , "Average Income"                 ],
    ["ENROL_ELEM","aEnrolElem", "Elementary School Enrollment"   ],
    ["ENROL_MIDL","aEnrolMidl", "Middle School Enrollment"       ],
    ["ENROL_HIGH","aEnrolHigh", "High School Enrollment"         ]
], columns=('col','aName', 'aCode'))
display(dfAttributes)

dfFilters = pd.DataFrame([
    ["fDummy", "dummyVal", "select", True]
], columns=('fCode','fName','fWidget','fOwnCol'))
display(dfFilters)

lstFiltersOwnCol = dfFilters[dfFilters['fOwnCol'] == True]['fCode'].tolist()
display(lstFiltersOwnCol)

# MAKE SURE ONLY COLUMNS WITH LOWER-CASE "f" ARE FILTER COLUMNS AND LOWER-CASE "a" ARE ATTRIBUTE COLUMNS

dfColKeys = pd.DataFrame([
    ["aTotHh"    , None, "TOTHH"     ],
    ["aHhPop"    , None, "HHPOP"     ],
    ["aHhSize"   , None, "HHSIZE"    ],
    ['aTotWrk'   , None, "TOTWRK"    ],
    ['aHHV0'     , None, "HHV0"      ],
    ['aHHV1'     , None, "HHV1"      ],
    ['aHHV2'     , None, "HHV2"      ],
    ['aHHV3'     , None, "HHV3"      ],
    ['aAutos'    , None, "AUTOS"      ],
    ["aTotEmp"   , None, "TOTEMP"    ],
    ["aRetEmp"   , None, "RETEMP"    ],
    ["aIndEmp"   , None, "INDEMP"    ],
    ["aOthEmp"   , None, "OTHEMP"    ],
    ["aAllEmp"   , None, "ALLEMP"    ],
    ["aRetl"     , None, "RETL"      ],
    ["aFood"     , None, "FOOD"      ],
    ["aManu"     , None, "MANU"      ],
    ["aWsle"     , None, "WSLE"      ],
    ["aOffi"     , None, "OFFI"      ],
    ["aGved"     , None, "GVED"      ],
    ["aHlth"     , None, "HLTH"      ],
    ["aOthr"     , None, "OTHR"      ],
    ["aAgri"     , None, "AGRI"      ],
    ["aMing"     , None, "MING"      ],
    ["aCons"     , None, "CONS"      ],
    ["aHbj"      , None, "HBJ"       ],
    ["aAvgInc"   , None, "AVGINCOME" ],
    ["aEnrolElem", None, "ENROL_ELEM"],
    ["aEnrolMidl", None, "ENROL_MIDL"],
    ["aEnrolHigh", None, "ENROL_HIGH"]
], columns=('aCode','fDummy','col'))

display(dfColKeys)

           col                            aName
0        TOTHH                 Total Households
1        HHPOP             Household Population
2       HHSIZE                   Household Size
3       TOTWRK                    Total Workers
4         HHV0       Households with 0 Vehicles
5         HHV1       Households with 1 Vehicles
6         HHV2       Households with 2 Vehicles
7         HHV3       Households with 3 Vehicles
8        AUTOS                   Total Vehicles
9       TOTEMP               Typical Employment
10      RETEMP                Retail Employment
11      INDEMP            Industrial Employment
12      OTHEMP                 Other Employment
13      ALLEMP                   All Employment
14        RETL                Retail Employment
15        FOOD                  Food Employment
16        MANU         Manufacturing Employment
17        WSLE             Wholesale Employment
18        OFFI                Office Employment
19        GVED  Government/Education Employment
20        HLTH                Health Employment
21        OTHR                 Other Employment
22        AGRI          Agricultural Employment
23        MING                Mining Employment
24        CONS          Construction Employment
25         HBJ        Home-Based Job Employment
26   AVGINCOME                   Average Income
27  ENROL_ELEM     Elementary School Enrollment
28  ENROL_MIDL         Middle School Enrollment
29  ENROL_HIGH           High School Enrollment

    fCode     fName fWidget  fOwnCol
0  fDummy  dummyVal  select     True

['fDummy']

         aCode fDummy         col
0       aTotHh   None       TOTHH
1       aHhPop   None       HHPOP
2      aHhSize   None      HHSIZE
3      aTotWrk   None      TOTWRK
4        aHHV0   None        HHV0
5        aHHV1   None        HHV1
6        aHHV2   None        HHV2
7        aHHV3   None        HHV3
8       aAutos   None       AUTOS
9      aTotEmp   None      TOTEMP
10     aRetEmp   None      RETEMP
11     aIndEmp   None      INDEMP
12     aOthEmp   None      OTHEMP
13     aAllEmp   None      ALLEMP
14       aRetl   None        RETL
15       aFood   None        FOOD
16       aManu   None        MANU
17       aWsle   None        WSLE
18       aOffi   None        OFFI
19       aGved   None        GVED
20       aHlth   None        HLTH
21       aOthr   None        OTHR
22       aAgri   None        AGRI
23       aMing   None        MING
24       aCons   None        CONS
25        aHbj   None         HBJ
26     aAvgInc   None   AVGINCOME
27  aEnrolElem   None  ENROL_ELEM
28  aEnrolMidl   None  ENROL_MIDL
29  aEnrolHigh   None  ENROL_HIGH

In [89]:
dfScn = pd.read_json(scnJson)
dfScn = dfScn[['modVersion','scnGroup','scnYear']]
display(dfScn)
display(dfScn.dtypes)

   modVersion   scnGroup  scnYear
0        v900       Base     2019
1        v900       Base     2023
2        v900        TIP     2028
3        v900        RTP     2032
4        v900        RTP     2042
5        v900        RTP     2050
6        v900    NoBuild     2032
7        v900    NoBuild     2042
8        v900    NoBuild     2050
9        v900      Needs     2032
10       v900      Needs     2042
11       v900      Needs     2050
12       v900  Needs MAG     2050

modVersion    object
scnGroup      object
scnYear        int64
dtype: object

In [90]:
# create folders
# Define a root directory where you want to create subfolders
root_dir = 'D:/GitHub/TDM-vizTool-and-Dashboard/_site/data/scnData'

# Ensure the root directory exists
if not os.path.exists(root_dir):
    os.makedirs(root_dir)

# Loop through the dataframe and create subfolders
for index, row in dfScn.iterrows():
    folder_name = f"{row['modVersion']}__{row['scnGroup']}__{row['scnYear']}"
    full_path = os.path.join(root_dir, folder_name)
    
    if not os.path.exists(full_path):
        os.makedirs(full_path)

In [93]:
import pandas as pd
import os
import glob

# Define the subfolder path
subfolder_path = r'D:\GitHub\TDM-vizTool-and-Dashboard\data\seData'

# Create an empty list to store dataframes
_dfs = []

# Iterate through the scenarios
for _, row in dfScn.iterrows():
    print(row['modVersion'] + '__' + row['scnGroup'] + '__' + str(row['scnYear']))
    
    # Read the CSV into a dataframe
    _df = pd.read_csv(os.path.join(subfolder_path, row['modVersion'] + '__' + row['scnGroup'] + '__' + str(row['scnYear']) + '.csv'))
    _df['dummyVal'] = ''
    #display(_df)

    _df_melt = _df.melt(id_vars=['Z'], value_vars=dfColKeys['col'].tolist(), var_name='col', value_name='val')
    #display(_df_melt)
    _df_melt_withkeys = pd.DataFrame.merge(_df_melt, dfColKeys, on='col')
    #display(_df_melt_withkeys)

    _df_melt_withkeys_pivot_atts = _df_melt_withkeys.pivot(index=[col for col in _df_melt_withkeys.columns if col not in ['aCode','val','col']], columns='aCode', values="val")
    _df_melt_withkeys_pivot_atts.columns.name = None
    _df_melt_withkeys_pivot_atts.reset_index(inplace=True)
    _df_melt_withkeys_pivot_atts
    #display(_df_melt_withkeys_pivot_atts)

    # Add new columns with values from filename
    _df_melt_withkeys_pivot_atts['modVersion'] = row['modVersion']
    _df_melt_withkeys_pivot_atts['scnGroup'] = row['scnGroup']
    _df_melt_withkeys_pivot_atts['scnYear'] = row['scnYear']

    _df_melt_withkeys_pivot_atts['scnYear'] = _df_melt_withkeys_pivot_atts['scnYear'].astype('int64')

    _df_melt_withkeys_pivot_atts

    _dfs.append(_df_melt_withkeys_pivot_atts)

# If you want to concatenate all the dataframes into a single dataframe
print('combining dataframes...')
dfCombined_melt_withkeys_pivot_atts = pd.concat(_dfs, ignore_index=True)
display(dfCombined_melt_withkeys_pivot_atts)
print('Done!')

v900__Base__2019
v900__Base__2023
v900__TIP__2028
v900__RTP__2032
v900__RTP__2042
v900__RTP__2050
v900__NoBuild__2032
v900__NoBuild__2042
v900__NoBuild__2050
v900__Needs__2032
v900__Needs__2042
v900__Needs__2050
v900__Needs MAG__2050
combining dataframes...

,Z,fDummy,aAgri,aAllEmp,aAutos,aAvgInc,aCons,aEnrolElem,aEnrolHigh,aEnrolMidl,...,aOthr,aRetEmp,aRetl,aTotEmp,aTotHh,aTotWrk,aWsle,modVersion,scnGroup,scnYear
0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,v900,Base,2019
1,2.0,NaN,0.0,0.0,0.0,0.0,0.6,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,11.6,19.74,0.0,v900,Base,2019
2,3.0,NaN,0.0,0.0,0.0,0.0,0.6,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,12.5,18.82,0.0,v900,Base,2019
3,4.0,NaN,0.0,0.0,0.0,0.0,0.1,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,2.9,3.82,0.0,v900,Base,2019
4,5.0,NaN,0.0,0.0,2.3,0.0,2.6,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,50.1,66.86,0.0,v900,Base,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46093,3542.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,49.0,0.0,...,0.0,0.0,0.0,0.0,2.0,2.14,0.0,v900,Needs MAG,2050
46094,3543.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,49.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,v900,Needs MAG,2050
46095,3544.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,49.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,v900,Needs MAG,2050
46096,3545.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,49.0,0.0,...,0.0,0.0,0.0,0.0,5.0,8.91,0.0,v900,Needs MAG,2050
46097,3546.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,49.0,0.0,...,0.0,0.0,0.0,0.0,2.0,2.82,0.0,v900,Needs MAG,2050

Done!

,TAZID,fPurp,fMode,fTod,fPA,aShAll,aShAut,aShBik,aShBrt,aShCor,...,aShLcl,aShLrt,aShMot,aShNon,aShTrn,aShWlk,aTrips,modVersion,scnGroup,scnYear
0,2,AllPurp,All,Dy,A,0.0000,0.0000,0.0,0.0,0.0,...,0.0,0.0,0.0000,0.0,0.0,0.0,39,v900,Base,2019
1,2,AllPurp,All,Dy,P,0.0000,0.0000,0.0,0.0,0.0,...,0.0,0.0,0.0000,0.0,0.0,0.0,145,v900,Base,2019
2,2,AllPurp,All,Ok,A,0.0000,0.0000,0.0,0.0,0.0,...,0.0,0.0,0.0000,0.0,0.0,0.0,26,v900,Base,2019
3,2,AllPurp,All,Ok,P,0.0000,0.0000,0.0,0.0,0.0,...,0.0,0.0,0.0000,0.0,0.0,0.0,92,v900,Base,2019
4,2,AllPurp,All,Pk,A,0.0000,0.0000,0.0,0.0,0.0,...,0.0,0.0,0.0000,0.0,0.0,0.0,13,v900,Base,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29008935,3629,HBW,sr3p,Dy,P,0.0797,0.0812,0.0,0.0,0.0,...,0.0,0.0,0.0797,0.0,0.0,0.0,25,v900,Needs MAG,2050
29008936,3629,HBW,sr3p,Ok,A,0.0000,0.0000,0.0,0.0,0.0,...,0.0,0.0,0.0000,0.0,0.0,0.0,0,v900,Needs MAG,2050
29008937,3629,HBW,sr3p,Ok,P,0.0455,0.0459,0.0,0.0,0.0,...,0.0,0.0,0.0455,0.0,0.0,0.0,5,v900,Needs MAG,2050
29008938,3629,HBW,sr3p,Pk,A,0.0000,0.0000,0.0,0.0,0.0,...,0.0,0.0,0.0000,0.0,0.0,0.0,0,v900,Needs MAG,2050
29008939,3629,HBW,sr3p,Pk,P,0.0978,0.1003,0.0,0.0,0.0,...,0.0,0.0,0.0978,0.0,0.0,0.0,20,v900,Needs MAG,2050

In [ ]:
## replace zeros with NaN
#import numpy as np
#dfCombined_melt_withkeys_pivot_atts.replace(0, np.nan, inplace=True)
#display(dfCombined_melt_withkeys_pivot_atts)

In [98]:
import json

# PREPARE JSON FOR EACH SCENARIO
# scenarioDetails
# attributes
#   aCode
#   aName
#   filterGroup
# filterGroups
#   possible filterGroup Options
#   for each filterGroup possibility, the data for that selection

_df0 = dfCombined_melt_withkeys_pivot_atts.copy()

# Loop through scenarios in dfScn
for _, row in dfScn.iterrows():

    _scenarioCode = row['modVersion'] + '__' + row['scnGroup'] + '__' + str(row['scnYear'])
    print(_scenarioCode)

    # format scenario details for json export
    jsonScenarioDetails = row.to_dict()

    #print(row['modVersion'] + row['scnGroup'] + str(row['scnYear']))
    # Filter the main dataframe based on the scenario
    _df0_filtered = _df0[
        (_df0['modVersion'] == row['modVersion']) & 
        (_df0['scnGroup'] == row['scnGroup']) & 
        (_df0['scnYear'] == row['scnYear'])
    ].copy()

    _df = _df0_filtered.copy()
    #display(_df)

    # add options to _dfFiltersWithOptions
    
    _dfFiltersWithOptions = dfFilters.copy()

    # For each fCode, get the unique values from dfData, and join to dfFilters
    formatted_lists = []
    for fCode in dfFilters['fCode']:
        unique_values = [x for x in _df[fCode].unique() if pd.notna(x)]
        formatted_lists.append(unique_values)
    #display (formatted_lists)

    _dfFiltersWithOptions['fOptions'] = formatted_lists    
    #display(_dfFiltersWithOptions)

    # get list of fitler groups (any column that begins with f)
    fCols = [col for col in dfCombined_melt_withkeys_pivot_atts.columns if col.startswith('f')]
    _df[fCols] = _df[fCols].fillna('')
    _dfFilters = _df[fCols].drop_duplicates()

    # Drop rows with empty strings in ALL columns
    #_dfFilters = _dfFilters[~(_dfFilters == '').all(axis=1)]
    #display(_dfFilters)

    # Convert the values to binary form, so 1 where there is a value and 0 elsewhere
    binary_dfFilters = _dfFilters.applymap(lambda x: 0 if x=='' else 1)
    #display(binary_dfFilters)

    # Get unique rows of combinations
    unique_combinations = binary_dfFilters.drop_duplicates()

    # Convert the unique combinations to a list of tuples
    lstCombinations = list(unique_combinations.itertuples(index=False, name=None))
    display(lstCombinations)

    # Define a function to convert to binary
    def is_empty_or_not(value):
        return 0 if value=='' else 1

    _dfFilterACodes = pd.DataFrame()

    jsonDataCombined = {}

    # loop through all combinations in list
    for combination in lstCombinations:

        # get list of column names with a 1 for given combination
        _dfFilterColsWithValue1 = [col for idx, col in enumerate(fCols) if combination[idx] == 1]
        #display(_dfFilterColsWithValue1)

        # create string of column names
        _strFilterGroup = '_'.join(_dfFilterColsWithValue1)
        #display(_strFilterGroup)
        
        # Initialize the condition as True for all rows
        condition = pd.Series([True] * len(_df), index=_df.index)

        # Apply the condition programmatically for each column in the list
        for col, comb_value in zip(fCols, combination):
            condition &= _df[col].apply(is_empty_or_not) == comb_value

        _filtered_df = _df[condition].copy()
        _filtered_df.drop(columns=['modVersion','scnGroup','scnYear'], inplace=True)
        #display(_filtered_df)

        # Remove columns where all values are NaN
        _filtered_df_noNA = _filtered_df.dropna(axis=1, how='all')
        #display(_filtered_df_noNA)

        _fColsToDrop = [col for col in _filtered_df_noNA.columns if col.startswith('f') and (_filtered_df_noNA[col] == '').all()]

        # Drop the identified columns - only have fCols with values
        _df2 = _filtered_df_noNA.drop(columns=_fColsToDrop)
        #display(_df2)

        # Get list of columns that begin with "a", create a dataframe the filter group for all possible combinations
        aCols = [col for col in _filtered_df_noNA.columns if col.startswith('a')]
        new_data = pd.DataFrame([{"filterGroup": _strFilterGroup, 'aCode': aCols}])
        new_data = new_data.explode('aCode').reset_index(drop=True)
        _dfFilterACodes = pd.concat([_dfFilterACodes, new_data], ignore_index=True)

        # get unique filter values
        _fColsRemain = [col for col in _df2.columns if col.startswith('f')]
        #display(_fColsRemain)
        if _fColsRemain:
            _dfFilterOptions = _df2[_fColsRemain].drop_duplicates()
        else:
            # add dummy row for no filter
            _dfFilterOptions = pd.DataFrame({'nofilter': ['']})

        #print("_dfFilterOptions")
        #display(_dfFilterOptions)

        # Handle no filter data

        first_row = True

        for index, row in _dfFilterOptions.iterrows():

            _filterRowIndex = '_'.join(row.astype(str).values)

            print(_filterRowIndex)
            
            final_condition = ""

            if _fColsRemain != []:
                # Dynamically construct the filter condition
                shared_columns = set(_dfFilterOptions.columns) & set(_df2.columns)
                conditions = (_df2[col].isin([row[col]]) for col in shared_columns)
                final_condition = next(conditions)

                for condition in conditions:
                    final_condition &= condition

                filtered_df2 = _df2[final_condition].copy()
                filtered_df2.drop(columns=_fColsRemain, inplace=True)
            else: # no filter condition
                filtered_df2 =  _df2

            _df2noI = filtered_df2.reset_index()

            jsonDataForFilterOption = {}

            for index, row in _df2noI.iterrows():
                # Initialize an empty dictionary for the row
                row_dict = {}

                # Loop through each column that starts with 'a'
                for col in _df2noI.columns[_df2noI.columns.str.startswith('a')]:
                    # Add to row_dict if value is greater than 0
                    if row[col] > 0:
                        row_dict[col] = row[col]
                
                # If row_dict is not empty, add it to jsonDataCombined with TAZID as the key
                if row_dict:
                    jsonDataForFilterOption[int(row['Z'])] = row_dict  # Cast TAZID to int
            
            # Encapsulate jsonDataCombined under the _filterRowIndex
            final_json = {_filterRowIndex: jsonDataForFilterOption}

            ## Convert to a JSON formatted string
            #json_output = json.dumps(final_json)

            # Append the JSON structure from this iteration to the combined
            jsonDataCombined = {**jsonDataCombined, **final_json}

    print("dfAttributes")
    print(dfAttributes)
    print("_dfFilterACodes")
    print(_dfFilterACodes)
    #print(final_json)

    _dfAttributesWFilter = dfAttributes.copy() #pd.DataFrame.merge(dfAttributes, _dfFilterACodes, on='aCode')
    jsonAttributes = _dfAttributesWFilter.to_dict(orient='records')
    jsonFilters = _dfFiltersWithOptions.to_dict(orient='records')

    # Construct final JSON structure
    jsonScenario = {
        'scenarioDetails': jsonScenarioDetails,
        'attributes': jsonAttributes,
        'filters': jsonFilters,
        'data': jsonDataCombined#,
        #'aggregations': aggregations_list
    }

    # Specify the desired file name
    filename = 'D:/GitHub/TDM-vizTool-and-Dashboard/_site/data/scnData/' + _scenarioCode + '/' + outputJsonName

    # Open the file in write mode
    with open(filename, 'w') as file:
        json.dump(jsonScenario, file)

v900__Base__2019

[(0,)]

dfAttributes
           col                            aName
0        TOTHH                 Total Households
1        HHPOP             Household Population
2       HHSIZE                   Household Size
3       TOTWRK                    Total Workers
4         HHV0       Households with 0 Vehicles
5         HHV1       Households with 1 Vehicles
6         HHV2       Households with 2 Vehicles
7         HHV3       Households with 3 Vehicles
8        AUTOS                   Total Vehicles
9       TOTEMP               Typical Employment
10      RETEMP                Retail Employment
11      INDEMP            Industrial Employment
12      OTHEMP                 Other Employment
13      ALLEMP                   All Employment
14        RETL                Retail Employment
15        FOOD                  Food Employment
16        MANU         Manufacturing Employment
17        WSLE             Wholesale Employment
18        OFFI                Office Employment
19        GVED  Government/Education Employment
20        HLTH                Health Employment
21        OTHR                 Other Employment
22        AGRI          Agricultural Employment
23        MING                Mining Employment
24        CONS          Construction Employment
25         HBJ        Home-Based Job Employment
26   AVGINCOME                   Average Income
27  ENROL_ELEM     Elementary School Enrollment
28  ENROL_MIDL         Middle School Enrollment
29  ENROL_HIGH           High School Enrollment
_dfFilterACodes
   filterGroup       aCode
0                    aAgri
1                  aAllEmp
2                   aAutos
3                  aAvgInc
4                    aCons
5               aEnrolElem
6               aEnrolHigh
7               aEnrolMidl
8                    aFood
9                    aGved
10                   aHHV0
11                   aHHV1
12                   aHHV2
13                   aHHV3
14                    aHbj
15                  aHhPop
16                 aHhSize
17                   aHlth
18                 aIndEmp
19                   aManu
20                   aMing
21                   aOffi
22                 aOthEmp
23                   aOthr
24                 aRetEmp
25                   aRetl
26                 aTotEmp
27                  aTotHh
28                 aTotWrk
29                   aWsle
v900__Base__2023

[(0,)]

dfAttributes
           col                            aName
0        TOTHH                 Total Households
1        HHPOP             Household Population
2       HHSIZE                   Household Size
3       TOTWRK                    Total Workers
4         HHV0       Households with 0 Vehicles
5         HHV1       Households with 1 Vehicles
6         HHV2       Households with 2 Vehicles
7         HHV3       Households with 3 Vehicles
8        AUTOS                   Total Vehicles
9       TOTEMP               Typical Employment
10      RETEMP                Retail Employment
11      INDEMP            Industrial Employment
12      OTHEMP                 Other Employment
13      ALLEMP                   All Employment
14        RETL                Retail Employment
15        FOOD                  Food Employment
16        MANU         Manufacturing Employment
17        WSLE             Wholesale Employment
18        OFFI                Office Employment
19        GVED  Government/Education Employment
20        HLTH                Health Employment
21        OTHR                 Other Employment
22        AGRI          Agricultural Employment
23        MING                Mining Employment
24        CONS          Construction Employment
25         HBJ        Home-Based Job Employment
26   AVGINCOME                   Average Income
27  ENROL_ELEM     Elementary School Enrollment
28  ENROL_MIDL         Middle School Enrollment
29  ENROL_HIGH           High School Enrollment
_dfFilterACodes
   filterGroup       aCode
0                    aAgri
1                  aAllEmp
2                   aAutos
3                  aAvgInc
4                    aCons
5               aEnrolElem
6               aEnrolHigh
7               aEnrolMidl
8                    aFood
9                    aGved
10                   aHHV0
11                   aHHV1
12                   aHHV2
13                   aHHV3
14                    aHbj
15                  aHhPop
16                 aHhSize
17                   aHlth
18                 aIndEmp
19                   aManu
20                   aMing
21                   aOffi
22                 aOthEmp
23                   aOthr
24                 aRetEmp
25                   aRetl
26                 aTotEmp
27                  aTotHh
28                 aTotWrk
29                   aWsle
v900__TIP__2028

[(0,)]

dfAttributes
           col                            aName
0        TOTHH                 Total Households
1        HHPOP             Household Population
2       HHSIZE                   Household Size
3       TOTWRK                    Total Workers
4         HHV0       Households with 0 Vehicles
5         HHV1       Households with 1 Vehicles
6         HHV2       Households with 2 Vehicles
7         HHV3       Households with 3 Vehicles
8        AUTOS                   Total Vehicles
9       TOTEMP               Typical Employment
10      RETEMP                Retail Employment
11      INDEMP            Industrial Employment
12      OTHEMP                 Other Employment
13      ALLEMP                   All Employment
14        RETL                Retail Employment
15        FOOD                  Food Employment
16        MANU         Manufacturing Employment
17        WSLE             Wholesale Employment
18        OFFI                Office Employment
19        GVED  Government/Education Employment
20        HLTH                Health Employment
21        OTHR                 Other Employment
22        AGRI          Agricultural Employment
23        MING                Mining Employment
24        CONS          Construction Employment
25         HBJ        Home-Based Job Employment
26   AVGINCOME                   Average Income
27  ENROL_ELEM     Elementary School Enrollment
28  ENROL_MIDL         Middle School Enrollment
29  ENROL_HIGH           High School Enrollment
_dfFilterACodes
   filterGroup       aCode
0                    aAgri
1                  aAllEmp
2                   aAutos
3                  aAvgInc
4                    aCons
5               aEnrolElem
6               aEnrolHigh
7               aEnrolMidl
8                    aFood
9                    aGved
10                   aHHV0
11                   aHHV1
12                   aHHV2
13                   aHHV3
14                    aHbj
15                  aHhPop
16                 aHhSize
17                   aHlth
18                 aIndEmp
19                   aManu
20                   aMing
21                   aOffi
22                 aOthEmp
23                   aOthr
24                 aRetEmp
25                   aRetl
26                 aTotEmp
27                  aTotHh
28                 aTotWrk
29                   aWsle
v900__RTP__2032

[(0,)]

dfAttributes
           col                            aName
0        TOTHH                 Total Households
1        HHPOP             Household Population
2       HHSIZE                   Household Size
3       TOTWRK                    Total Workers
4         HHV0       Households with 0 Vehicles
5         HHV1       Households with 1 Vehicles
6         HHV2       Households with 2 Vehicles
7         HHV3       Households with 3 Vehicles
8        AUTOS                   Total Vehicles
9       TOTEMP               Typical Employment
10      RETEMP                Retail Employment
11      INDEMP            Industrial Employment
12      OTHEMP                 Other Employment
13      ALLEMP                   All Employment
14        RETL                Retail Employment
15        FOOD                  Food Employment
16        MANU         Manufacturing Employment
17        WSLE             Wholesale Employment
18        OFFI                Office Employment
19        GVED  Government/Education Employment
20        HLTH                Health Employment
21        OTHR                 Other Employment
22        AGRI          Agricultural Employment
23        MING                Mining Employment
24        CONS          Construction Employment
25         HBJ        Home-Based Job Employment
26   AVGINCOME                   Average Income
27  ENROL_ELEM     Elementary School Enrollment
28  ENROL_MIDL         Middle School Enrollment
29  ENROL_HIGH           High School Enrollment
_dfFilterACodes
   filterGroup       aCode
0                    aAgri
1                  aAllEmp
2                   aAutos
3                  aAvgInc
4                    aCons
5               aEnrolElem
6               aEnrolHigh
7               aEnrolMidl
8                    aFood
9                    aGved
10                   aHHV0
11                   aHHV1
12                   aHHV2
13                   aHHV3
14                    aHbj
15                  aHhPop
16                 aHhSize
17                   aHlth
18                 aIndEmp
19                   aManu
20                   aMing
21                   aOffi
22                 aOthEmp
23                   aOthr
24                 aRetEmp
25                   aRetl
26                 aTotEmp
27                  aTotHh
28                 aTotWrk
29                   aWsle
v900__RTP__2042

[(0,)]

dfAttributes
           col                            aName
0        TOTHH                 Total Households
1        HHPOP             Household Population
2       HHSIZE                   Household Size
3       TOTWRK                    Total Workers
4         HHV0       Households with 0 Vehicles
5         HHV1       Households with 1 Vehicles
6         HHV2       Households with 2 Vehicles
7         HHV3       Households with 3 Vehicles
8        AUTOS                   Total Vehicles
9       TOTEMP               Typical Employment
10      RETEMP                Retail Employment
11      INDEMP            Industrial Employment
12      OTHEMP                 Other Employment
13      ALLEMP                   All Employment
14        RETL                Retail Employment
15        FOOD                  Food Employment
16        MANU         Manufacturing Employment
17        WSLE             Wholesale Employment
18        OFFI                Office Employment
19        GVED  Government/Education Employment
20        HLTH                Health Employment
21        OTHR                 Other Employment
22        AGRI          Agricultural Employment
23        MING                Mining Employment
24        CONS          Construction Employment
25         HBJ        Home-Based Job Employment
26   AVGINCOME                   Average Income
27  ENROL_ELEM     Elementary School Enrollment
28  ENROL_MIDL         Middle School Enrollment
29  ENROL_HIGH           High School Enrollment
_dfFilterACodes
   filterGroup       aCode
0                    aAgri
1                  aAllEmp
2                   aAutos
3                  aAvgInc
4                    aCons
5               aEnrolElem
6               aEnrolHigh
7               aEnrolMidl
8                    aFood
9                    aGved
10                   aHHV0
11                   aHHV1
12                   aHHV2
13                   aHHV3
14                    aHbj
15                  aHhPop
16                 aHhSize
17                   aHlth
18                 aIndEmp
19                   aManu
20                   aMing
21                   aOffi
22                 aOthEmp
23                   aOthr
24                 aRetEmp
25                   aRetl
26                 aTotEmp
27                  aTotHh
28                 aTotWrk
29                   aWsle
v900__RTP__2050

[(0,)]

dfAttributes
           col                            aName
0        TOTHH                 Total Households
1        HHPOP             Household Population
2       HHSIZE                   Household Size
3       TOTWRK                    Total Workers
4         HHV0       Households with 0 Vehicles
5         HHV1       Households with 1 Vehicles
6         HHV2       Households with 2 Vehicles
7         HHV3       Households with 3 Vehicles
8        AUTOS                   Total Vehicles
9       TOTEMP               Typical Employment
10      RETEMP                Retail Employment
11      INDEMP            Industrial Employment
12      OTHEMP                 Other Employment
13      ALLEMP                   All Employment
14        RETL                Retail Employment
15        FOOD                  Food Employment
16        MANU         Manufacturing Employment
17        WSLE             Wholesale Employment
18        OFFI                Office Employment
19        GVED  Government/Education Employment
20        HLTH                Health Employment
21        OTHR                 Other Employment
22        AGRI          Agricultural Employment
23        MING                Mining Employment
24        CONS          Construction Employment
25         HBJ        Home-Based Job Employment
26   AVGINCOME                   Average Income
27  ENROL_ELEM     Elementary School Enrollment
28  ENROL_MIDL         Middle School Enrollment
29  ENROL_HIGH           High School Enrollment
_dfFilterACodes
   filterGroup       aCode
0                    aAgri
1                  aAllEmp
2                   aAutos
3                  aAvgInc
4                    aCons
5               aEnrolElem
6               aEnrolHigh
7               aEnrolMidl
8                    aFood
9                    aGved
10                   aHHV0
11                   aHHV1
12                   aHHV2
13                   aHHV3
14                    aHbj
15                  aHhPop
16                 aHhSize
17                   aHlth
18                 aIndEmp
19                   aManu
20                   aMing
21                   aOffi
22                 aOthEmp
23                   aOthr
24                 aRetEmp
25                   aRetl
26                 aTotEmp
27                  aTotHh
28                 aTotWrk
29                   aWsle
v900__NoBuild__2032

[(0,)]

dfAttributes
           col                            aName
0        TOTHH                 Total Households
1        HHPOP             Household Population
2       HHSIZE                   Household Size
3       TOTWRK                    Total Workers
4         HHV0       Households with 0 Vehicles
5         HHV1       Households with 1 Vehicles
6         HHV2       Households with 2 Vehicles
7         HHV3       Households with 3 Vehicles
8        AUTOS                   Total Vehicles
9       TOTEMP               Typical Employment
10      RETEMP                Retail Employment
11      INDEMP            Industrial Employment
12      OTHEMP                 Other Employment
13      ALLEMP                   All Employment
14        RETL                Retail Employment
15        FOOD                  Food Employment
16        MANU         Manufacturing Employment
17        WSLE             Wholesale Employment
18        OFFI                Office Employment
19        GVED  Government/Education Employment
20        HLTH                Health Employment
21        OTHR                 Other Employment
22        AGRI          Agricultural Employment
23        MING                Mining Employment
24        CONS          Construction Employment
25         HBJ        Home-Based Job Employment
26   AVGINCOME                   Average Income
27  ENROL_ELEM     Elementary School Enrollment
28  ENROL_MIDL         Middle School Enrollment
29  ENROL_HIGH           High School Enrollment
_dfFilterACodes
   filterGroup       aCode
0                    aAgri
1                  aAllEmp
2                   aAutos
3                  aAvgInc
4                    aCons
5               aEnrolElem
6               aEnrolHigh
7               aEnrolMidl
8                    aFood
9                    aGved
10                   aHHV0
11                   aHHV1
12                   aHHV2
13                   aHHV3
14                    aHbj
15                  aHhPop
16                 aHhSize
17                   aHlth
18                 aIndEmp
19                   aManu
20                   aMing
21                   aOffi
22                 aOthEmp
23                   aOthr
24                 aRetEmp
25                   aRetl
26                 aTotEmp
27                  aTotHh
28                 aTotWrk
29                   aWsle
v900__NoBuild__2042

[(0,)]

dfAttributes
           col                            aName
0        TOTHH                 Total Households
1        HHPOP             Household Population
2       HHSIZE                   Household Size
3       TOTWRK                    Total Workers
4         HHV0       Households with 0 Vehicles
5         HHV1       Households with 1 Vehicles
6         HHV2       Households with 2 Vehicles
7         HHV3       Households with 3 Vehicles
8        AUTOS                   Total Vehicles
9       TOTEMP               Typical Employment
10      RETEMP                Retail Employment
11      INDEMP            Industrial Employment
12      OTHEMP                 Other Employment
13      ALLEMP                   All Employment
14        RETL                Retail Employment
15        FOOD                  Food Employment
16        MANU         Manufacturing Employment
17        WSLE             Wholesale Employment
18        OFFI                Office Employment
19        GVED  Government/Education Employment
20        HLTH                Health Employment
21        OTHR                 Other Employment
22        AGRI          Agricultural Employment
23        MING                Mining Employment
24        CONS          Construction Employment
25         HBJ        Home-Based Job Employment
26   AVGINCOME                   Average Income
27  ENROL_ELEM     Elementary School Enrollment
28  ENROL_MIDL         Middle School Enrollment
29  ENROL_HIGH           High School Enrollment
_dfFilterACodes
   filterGroup       aCode
0                    aAgri
1                  aAllEmp
2                   aAutos
3                  aAvgInc
4                    aCons
5               aEnrolElem
6               aEnrolHigh
7               aEnrolMidl
8                    aFood
9                    aGved
10                   aHHV0
11                   aHHV1
12                   aHHV2
13                   aHHV3
14                    aHbj
15                  aHhPop
16                 aHhSize
17                   aHlth
18                 aIndEmp
19                   aManu
20                   aMing
21                   aOffi
22                 aOthEmp
23                   aOthr
24                 aRetEmp
25                   aRetl
26                 aTotEmp
27                  aTotHh
28                 aTotWrk
29                   aWsle
v900__NoBuild__2050

[(0,)]

dfAttributes
           col                            aName
0        TOTHH                 Total Households
1        HHPOP             Household Population
2       HHSIZE                   Household Size
3       TOTWRK                    Total Workers
4         HHV0       Households with 0 Vehicles
5         HHV1       Households with 1 Vehicles
6         HHV2       Households with 2 Vehicles
7         HHV3       Households with 3 Vehicles
8        AUTOS                   Total Vehicles
9       TOTEMP               Typical Employment
10      RETEMP                Retail Employment
11      INDEMP            Industrial Employment
12      OTHEMP                 Other Employment
13      ALLEMP                   All Employment
14        RETL                Retail Employment
15        FOOD                  Food Employment
16        MANU         Manufacturing Employment
17        WSLE             Wholesale Employment
18        OFFI                Office Employment
19        GVED  Government/Education Employment
20        HLTH                Health Employment
21        OTHR                 Other Employment
22        AGRI          Agricultural Employment
23        MING                Mining Employment
24        CONS          Construction Employment
25         HBJ        Home-Based Job Employment
26   AVGINCOME                   Average Income
27  ENROL_ELEM     Elementary School Enrollment
28  ENROL_MIDL         Middle School Enrollment
29  ENROL_HIGH           High School Enrollment
_dfFilterACodes
   filterGroup       aCode
0                    aAgri
1                  aAllEmp
2                   aAutos
3                  aAvgInc
4                    aCons
5               aEnrolElem
6               aEnrolHigh
7               aEnrolMidl
8                    aFood
9                    aGved
10                   aHHV0
11                   aHHV1
12                   aHHV2
13                   aHHV3
14                    aHbj
15                  aHhPop
16                 aHhSize
17                   aHlth
18                 aIndEmp
19                   aManu
20                   aMing
21                   aOffi
22                 aOthEmp
23                   aOthr
24                 aRetEmp
25                   aRetl
26                 aTotEmp
27                  aTotHh
28                 aTotWrk
29                   aWsle
v900__Needs__2032

[(0,)]

dfAttributes
           col                            aName
0        TOTHH                 Total Households
1        HHPOP             Household Population
2       HHSIZE                   Household Size
3       TOTWRK                    Total Workers
4         HHV0       Households with 0 Vehicles
5         HHV1       Households with 1 Vehicles
6         HHV2       Households with 2 Vehicles
7         HHV3       Households with 3 Vehicles
8        AUTOS                   Total Vehicles
9       TOTEMP               Typical Employment
10      RETEMP                Retail Employment
11      INDEMP            Industrial Employment
12      OTHEMP                 Other Employment
13      ALLEMP                   All Employment
14        RETL                Retail Employment
15        FOOD                  Food Employment
16        MANU         Manufacturing Employment
17        WSLE             Wholesale Employment
18        OFFI                Office Employment
19        GVED  Government/Education Employment
20        HLTH                Health Employment
21        OTHR                 Other Employment
22        AGRI          Agricultural Employment
23        MING                Mining Employment
24        CONS          Construction Employment
25         HBJ        Home-Based Job Employment
26   AVGINCOME                   Average Income
27  ENROL_ELEM     Elementary School Enrollment
28  ENROL_MIDL         Middle School Enrollment
29  ENROL_HIGH           High School Enrollment
_dfFilterACodes
   filterGroup       aCode
0                    aAgri
1                  aAllEmp
2                   aAutos
3                  aAvgInc
4                    aCons
5               aEnrolElem
6               aEnrolHigh
7               aEnrolMidl
8                    aFood
9                    aGved
10                   aHHV0
11                   aHHV1
12                   aHHV2
13                   aHHV3
14                    aHbj
15                  aHhPop
16                 aHhSize
17                   aHlth
18                 aIndEmp
19                   aManu
20                   aMing
21                   aOffi
22                 aOthEmp
23                   aOthr
24                 aRetEmp
25                   aRetl
26                 aTotEmp
27                  aTotHh
28                 aTotWrk
29                   aWsle
v900__Needs__2042

[(0,)]

dfAttributes
           col                            aName
0        TOTHH                 Total Households
1        HHPOP             Household Population
2       HHSIZE                   Household Size
3       TOTWRK                    Total Workers
4         HHV0       Households with 0 Vehicles
5         HHV1       Households with 1 Vehicles
6         HHV2       Households with 2 Vehicles
7         HHV3       Households with 3 Vehicles
8        AUTOS                   Total Vehicles
9       TOTEMP               Typical Employment
10      RETEMP                Retail Employment
11      INDEMP            Industrial Employment
12      OTHEMP                 Other Employment
13      ALLEMP                   All Employment
14        RETL                Retail Employment
15        FOOD                  Food Employment
16        MANU         Manufacturing Employment
17        WSLE             Wholesale Employment
18        OFFI                Office Employment
19        GVED  Government/Education Employment
20        HLTH                Health Employment
21        OTHR                 Other Employment
22        AGRI          Agricultural Employment
23        MING                Mining Employment
24        CONS          Construction Employment
25         HBJ        Home-Based Job Employment
26   AVGINCOME                   Average Income
27  ENROL_ELEM     Elementary School Enrollment
28  ENROL_MIDL         Middle School Enrollment
29  ENROL_HIGH           High School Enrollment
_dfFilterACodes
   filterGroup       aCode
0                    aAgri
1                  aAllEmp
2                   aAutos
3                  aAvgInc
4                    aCons
5               aEnrolElem
6               aEnrolHigh
7               aEnrolMidl
8                    aFood
9                    aGved
10                   aHHV0
11                   aHHV1
12                   aHHV2
13                   aHHV3
14                    aHbj
15                  aHhPop
16                 aHhSize
17                   aHlth
18                 aIndEmp
19                   aManu
20                   aMing
21                   aOffi
22                 aOthEmp
23                   aOthr
24                 aRetEmp
25                   aRetl
26                 aTotEmp
27                  aTotHh
28                 aTotWrk
29                   aWsle
v900__Needs__2050

[(0,)]

dfAttributes
           col                            aName
0        TOTHH                 Total Households
1        HHPOP             Household Population
2       HHSIZE                   Household Size
3       TOTWRK                    Total Workers
4         HHV0       Households with 0 Vehicles
5         HHV1       Households with 1 Vehicles
6         HHV2       Households with 2 Vehicles
7         HHV3       Households with 3 Vehicles
8        AUTOS                   Total Vehicles
9       TOTEMP               Typical Employment
10      RETEMP                Retail Employment
11      INDEMP            Industrial Employment
12      OTHEMP                 Other Employment
13      ALLEMP                   All Employment
14        RETL                Retail Employment
15        FOOD                  Food Employment
16        MANU         Manufacturing Employment
17        WSLE             Wholesale Employment
18        OFFI                Office Employment
19        GVED  Government/Education Employment
20        HLTH                Health Employment
21        OTHR                 Other Employment
22        AGRI          Agricultural Employment
23        MING                Mining Employment
24        CONS          Construction Employment
25         HBJ        Home-Based Job Employment
26   AVGINCOME                   Average Income
27  ENROL_ELEM     Elementary School Enrollment
28  ENROL_MIDL         Middle School Enrollment
29  ENROL_HIGH           High School Enrollment
_dfFilterACodes
   filterGroup       aCode
0                    aAgri
1                  aAllEmp
2                   aAutos
3                  aAvgInc
4                    aCons
5               aEnrolElem
6               aEnrolHigh
7               aEnrolMidl
8                    aFood
9                    aGved
10                   aHHV0
11                   aHHV1
12                   aHHV2
13                   aHHV3
14                    aHbj
15                  aHhPop
16                 aHhSize
17                   aHlth
18                 aIndEmp
19                   aManu
20                   aMing
21                   aOffi
22                 aOthEmp
23                   aOthr
24                 aRetEmp
25                   aRetl
26                 aTotEmp
27                  aTotHh
28                 aTotWrk
29                   aWsle
v900__Needs MAG__2050

[(0,)]

dfAttributes
           col                            aName
0        TOTHH                 Total Households
1        HHPOP             Household Population
2       HHSIZE                   Household Size
3       TOTWRK                    Total Workers
4         HHV0       Households with 0 Vehicles
5         HHV1       Households with 1 Vehicles
6         HHV2       Households with 2 Vehicles
7         HHV3       Households with 3 Vehicles
8        AUTOS                   Total Vehicles
9       TOTEMP               Typical Employment
10      RETEMP                Retail Employment
11      INDEMP            Industrial Employment
12      OTHEMP                 Other Employment
13      ALLEMP                   All Employment
14        RETL                Retail Employment
15        FOOD                  Food Employment
16        MANU         Manufacturing Employment
17        WSLE             Wholesale Employment
18        OFFI                Office Employment
19        GVED  Government/Education Employment
20        HLTH                Health Employment
21        OTHR                 Other Employment
22        AGRI          Agricultural Employment
23        MING                Mining Employment
24        CONS          Construction Employment
25         HBJ        Home-Based Job Employment
26   AVGINCOME                   Average Income
27  ENROL_ELEM     Elementary School Enrollment
28  ENROL_MIDL         Middle School Enrollment
29  ENROL_HIGH           High School Enrollment
_dfFilterACodes
   filterGroup       aCode
0                    aAgri
1                  aAllEmp
2                   aAutos
3                  aAvgInc
4                    aCons
5               aEnrolElem
6               aEnrolHigh
7               aEnrolMidl
8                    aFood
9                    aGved
10                   aHHV0
11                   aHHV1
12                   aHHV2
13                   aHHV3
14                    aHbj
15                  aHhPop
16                 aHhSize
17                   aHlth
18                 aIndEmp
19                   aManu
20                   aMing
21                   aOffi
22                 aOthEmp
23                   aOthr
24                 aRetEmp
25                   aRetl
26                 aTotEmp
27                  aTotHh
28                 aTotWrk
29                   aWsle

In [59]:
json_output

NameError: name 'json_output' is not defined

In [60]:
import json
import pandas as pd

_df2noI = filtered_df2.reset_index()
df = _df2noI

jsonDataCombined = {}

for index, row in df.iterrows():
    # Initialize an empty dictionary for the row
    row_dict = {}

    # Loop through each column that starts with 'a'
    for col in df.columns[df.columns.str.startswith('a')]:
        # Add to row_dict if value is greater than 0
        if row[col] > 0:
            row_dict[col] = row[col]
    
    # If row_dict is not empty, add it to jsonDataCombined with TAZID as the key
    if row_dict:
        jsonDataCombined[int(row['TAZID'])] = row_dict  # Cast TAZID to int

# Convert to a JSON formatted string
json_output = json.dumps(jsonDataCombined, indent=4)

print(json_output)

NameError: name 'filtered_df2' is not defined

'AllPurp_All_Dy_A'

In [98]:
'_'.join(row.astype(str).values)

'1866772.0_3629.0_0.0_0.0_0.0_0.0_0.0_0.0_0.0_0.0_0.0_0.0_0.0_0.0_0.0_0.0'